@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap");

:root {
  --color-purple-50: hsl(260, 100%, 95%);
  --color-purple-300: hsl(264, 82%, 80%);
  --color-purple-500: hsl(263, 55%, 52%);

  --color-neutral-white: hsl(0, 0%, 100%);
  --color-neutral-grey-100: hsl(214, 17%, 92%);
  --color-neutral-grey-200: hsl(0, 0%, 81%);
  --color-neutral-grey-400: hsl(224, 10%, 45%);
  --color-neutral-grey-500: hsl(217, 19%, 35%);
  --color-neutral-dark-blue: hsl(219, 29%, 14%);
  --color-neutral-black: hsl(0, 0%, 7%);
  --font-family: "Barlow Semi Condensed", sans-serif;
  --font-size: 0.813rem;
  --font-weight-500: 500;
  --font-weight-600: 600;
  --border-radius: 10px;
  --box-shadow: 10px 10px 20px 20px rgba(0, 0, 0, 0.2);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size);
  background-color: var(--color-purple-50);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 2rem;
}

main {
  max-width: 40rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 1.5rem;
  line-height: 1.5;
}

.card {
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-weight: var(--font-weight-600);
}

.card-profile {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.profile-image {
  width: 1.65rem;
  height: 1.65rem;
  border-radius: 50%;
}

.brdr-purple-300 {
  border: 2px solid var(--color-purple-300);
}

.card .profile-info h2 {
  font-size: var(--font-size);
}

.profile-info p {
  font-size: 0.7rem;
  font-weight: var(--font-weight-500);
}

.card-headline {
  font-size: 1.3rem;
}

.purple-500 {
  background-color: var(--color-purple-500);
  color: var(--color-neutral-white);
}
.purple-500 .card-description p {
  color: var(--color-purple-300);
}

.grey-500 {
  background-color: var(--color-neutral-grey-500);
  color: var(--color-neutral-white);
}

.grey-500 .profile-info p {
  color: var(--color-neutral-grey-400);
}

.grey-500 .card-description p {
  color: var(--color-neutral-grey-100);
}

.white {
  background-color: var(--color-neutral-white);
  color: var(--color-neutral-grey-400);
}

.white .profile-info p {
  color: var(--color-neutral-grey-200);
}

.dark-blue {
  background-color: var(--color-neutral-dark-blue);
  color: var(--color-neutral-grey-100);
}

@media (min-width: 64rem) {
  main {
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    grid-template-rows: auto;
    max-width: 80rem;
    font-size: 1rem;
  }

  .card{
   justify-content: center;
     }

  .daniel {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }

  .jonathan {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
  }

.kira {
   grid-column: 4 / 6;
   grid-row: 1 / 3;
}

  .jeanette {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  .patrick {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
  }
}
